* {
  font-family: 'Josefin Sans', sans-serif; 
}

body {
  background-color: #c8df9f;
}

#bigDiv {
  /* max-width overrides foundation's gutters */
  max-width: none;
  height: 100%;
}

#rightDiv {
  height: 100%;
}

/************ user div ************/

#userDiv {
  text-align: center;
}

#logo {
  float: left;
  display: inline-block;
  height: 6em;
  width: auto;
  padding: 10px 0px 0px 5px;
}

#title {
  font-family: 'Josefin Sans', sans-serif; 
  font-weight: 700;
  font-size: 4em;
  text-align: center;
  padding-top: 13px;
}

.greeting {
  font-size: 2em;
  padding-bottom: 2em;
}

.conversation {
  font-size: 1.5em;
}

#userInput, #stateName, #locType {
  font-size: 1.25em;
}

#submit {
  background-color: #f8ae29;
  color: black;
  font-family: 'Josefin Sans', sans-serif; 
  font-size: 1.3em;
  border: 2px solid #e69708;
  outline: none;
}

#submit:hover {
  background-color: #faca73;
}

/*#checkboxSwitch + label {
  display: inline-block;
  margin-bottom: 0;
}

#checkboxSwitch + label + span {
  vertical-align: 0.7em;
}*/

#errorText {
  color: red;
  font-weight: 700;
}

#loadingGif {
  display: none;
}

/************ map div ************/

#map {
  height: 100%;
  border-left: 4px solid #586347;
}

div.leaflet-popup-content {
  font-size: 1.5em;
}

marker.property {
  background-color: #f8ae29;
}



